
@{
    ViewData["Title"] = "Dashboard";
}

<div id="app">
    <app-component component-name="dashboard-promoter-component"></app-component>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}