
@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
    <v-app>
        <promoter-component></promoter-component>
    </v-app>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}