@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <app-component component-name="about-component"></app-component>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}