
@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
    <home-component-home></home-component-home>
</div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
    @*<script src="@Url.Content("../../Scripts/Home/index.js")"></script>*@

}