
@{
    ViewData["Title"] = "Home Page";
}

    <div id="app">
        <v-app>
            <home-component-home></home-component-home>
        </v-app>
    </div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}