
@{
    ViewData["Title"] = "Search Page";
}

    <div id="app">
        <v-app>
            <search-component></search-component>
        </v-app>
    </div>

@section scripts {
    <script src="@Url.Content("~/bundle/home.js")"></script>
}